.cards {
    position: fixed;
    overflow-y: scroll;
    left: 300px;
    right: 0;
    top: 50px;
    bottom: 0;

    ul {
        margin: 8px;
        display: flex;
        flex-wrap: wrap;  
        
        li {
            flex: 1;
            text-align: center;
            
            img {
                margin: 8px;
                height: 320px;
                width: 212.5px;
            }
        }
    }

    .cards-empty {
        margin: 200px auto;
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        color: #aaa;
        text-transform: uppercase;
    }
}