.cards {
    position: fixed;
    overflow-y: scroll;    
    left: 328px;
    right: 0;
    top: $header-height;
    bottom: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
        display: none;
    }

    .cards-container {
        margin: 32px 8px;
        display: flex;
        flex-wrap: wrap;  
        
        a {
            flex: 1;
            text-align: center;
            cursor: pointer;
            transition: all .3s ease-out;

            &:hover { 
                transform: scale(1.1); 
            }
            
            img {
                margin: 8px;
                height: 320px;
                width: 212.5px;
            }
        }
    }

    .cards-empty {
        margin: 200px auto;
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        color: #aaa;
        text-transform: uppercase;
    }
}