.filter {
    position: fixed;
    overflow-y: scroll;
    top: $header-height;
    left: 0;
    bottom: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar { 
        display: none;
    }

    .filter-container {
        margin: 32px;
        width: 264px;
        
        h3 {
            flex: 1;
            padding: 8px 16px;
            font: 1.4em 'Crimson Text', serif;
            text-transform: uppercase;
            text-align: center;
            color: $color-3;
            opacity: .4;
        }

        .filter-content {
            display: flex;
            flex-wrap: wrap;

            .filter-item {
                width: 50px;
                padding: 8px;
                cursor: pointer;
                display: block;
                text-align: center;
                
                img {
                    height: 24px;
                    width: 24px;
                    padding: 12px;
                    border: 1px solid $color-4;
                    border-radius: 50px;
                    margin-bottom: 4px;
                }
                
                span {
                    font: 500 1.4em 'Barlow Condensed', sans-serif;
                    color: $color-3;
                    text-transform: uppercase;
                }

                &.filter-active {
                    img {
                    border: 1px solid $color-3;
                    }
                }

                &.filter-empty {
                    cursor: initial;
                }
            }
        }
    }
}