.language-option {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    height: 50px;
    text-align: left;
    width: 160px;
    color: #FFF;
    font-size: 1.4em;
    font-weight: 400;

    &:hover {
        background: #333333;
    }

    svg {
        margin: -3px 8px -3px 0;
    }

    .seta {
        position: absolute;
        top: 20px;
        right: 8px;
    }
}

.language-header {
    position: fixed;
    top: 0;
    right: 0;
}

.language-container {
    position: fixed;
    z-index: 99999;
    top: 50px;
    right: 0;
    background: #212121;
}